@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**Global tags**/

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;

}

span {
    font-size: .9rem;
    color: #757373;

}

h6 {
    font-size: 1.1rem;
    color: #242449;

}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Navigation Bar Styling */

 
  nav {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.15);
    padding: 1vw 0; /* VW means view point width */
    z-index: 999;
}

nav img {
    width: 250px;
    height: auto;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s ease;
}

nav .navigation ul li a:hover {
    color: rgb(224, 201, 172);
}

/* Home Page(Section) */


#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("Images/under_grad_main.jpg");
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph1 {
    text-align: center;
    color: rgb(255, 255, 255);
    width: 50%;
    font-size: 1rem;
    line-height: 25Px;
}

#home h2 {
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    letter-spacing: 1px;
}

/** Styling button links **/

.buttons {
    margin-top: 40px;
}

.orange2 {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(60, 60, 154);
    font-weight: 500;
    border-radius: 5px;
}

.orange3 {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 13px 7px;
    background-color: #e6c262;
    font-weight: 500;
    border-radius: 5px;
}

.orange4 {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(60, 60, 154);
    font-weight: 500;
    border-radius: 5px;
}

.orange2:hover {
    background-color: #e6c262;
    transition: 0.4s ease-in-out;
}

.orange3:hover {
    background-color: rgb(60, 60, 154);
    transition: 0.4s ease-in-out;
}

.orange4:hover {
    background-color: #e6c262;
    transition: 0.4s ease-in-out;
} 

hr {
    color: rgb(26, 24, 24);
    width: 50%;
    border-style: dashed;
    margin-top: 80px;
    margin-bottom: 40px;   
}

/**Amazing Programs Style**/


#amazing {
    padding: 5vw 8vw 0 8vw;
    text-align: center;

}

#amazing .amazing1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    margin-top: 70px;
    border-radius: 5px;
}

.amazing1 .free {
    background-color: #dddddd;

}

.free-img {
    align-items: center;
}

p .free-paragraph {
    align-items: center;
}

.freemium-button {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #e6c262;
    font-weight: 500;
    border-radius: 5px;
}

.paid-img {
    align-items: center;
}

p .premium-paragraph {
    align-items: center;
}

.premium-button {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #e6c262;
    font-weight: 500;
    border-radius: 5px;
}

/** Free Registration Page **/


#form-page {
    width: 100%;
    height: 100%;
    background-position: center;
    padding-top: 130px;
}
 
#free-form-h2 {
    text-align: center;
}

#free-form {
    padding: 50px 0px 50px 0px;
    width: 1400px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #b5b3b3;
    }

.paragraph-under-heading {
    text-align: center;
}

.choices {
    text-align: center;
}

.form {
    background-color: azure;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.form-input-fieldset {
    width: 300px;
    margin: 2px 0;
    padding: 15px 10px;
    border: 1px solid rgb(167, 148, 235);
    outline: none;
}

#primarySchool {
    height: 15px;
    width: 15px;
}

#secondarySchool {
    height: 15px;
    width: 15px;
}

#vocationalSchool {
    height: 15px;
    width: 15px;
}

#bachelorsDegree {
    height: 15px;
    width: 15px;
}

.form input::placeholder {
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}

.submit-button {
    text-align: center;
    margin-top: 40px;
}

.form-button {
    text-align: center;
    font-size: 1.0rem;
    text-decoration: none;
    padding: 13px 35px;
    background-color: azure;
    font-weight: 600;
    color: #fff;
    background: #fdc93b;
    transition: 0.2s ease-in-out;
 }

 .form-button:hover {
    background-color: rgb(60, 60, 154);
    transition: 0.4s ease-in-out;
 }


/** Department Heads Styling **/

.h2-p-styles {
    text-align: center;
}

#department-heads {
    padding: 3vw 8vw 0 8vw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 70px;
    border-radius: 5px;

}

.dept-heads-box {
    background-color: #fafaf1;
    padding: 30px 10px;
}

.head1 {
    border-radius: 50px;
    height: 140px;
    width: 140px;

}

.facebook-icon {
    margin: 10px;
    padding: 10px 13px;
    cursor: pointer;
    border: 1px solid rgba(21, 21, 100);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 30px;
    height: 30px;
}
.facebook-icon:hover {
    background-color: rgb(111, 184, 215);
    color: white;
    transition: 0.3s ease;
}

.github-icon {
    margin: 10px;
    padding: 10px 13px;
    cursor: pointer;
    border: 1px solid rgba(21, 21, 100);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 30px;
    height: 30px;
}
.github-icon:hover {
    background-color: rgb(111, 184, 215);
    color: white;
    transition: 0.3s ease;
}

.linkedin-icon {
    margin: 10px;
    padding: 10px 13px;
    cursor: pointer;
    border: 1px solid rgba(21, 21, 100);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 30px;
    height: 30px;
}
.linkedin-icon:hover {
    background-color: rgb(111, 184, 215);
    color: white;
    transition: 0.3s ease;
}

.view-profiles-div {
    align-items: center;
    padding-top: 30px;
}


.view-profiles-button {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #e6c262;
    font-weight: 500;
    border-radius: 5px;
}

.view-profiles-button:hover {
    background-color: rgb(60, 60, 154);
    transition: 0.4s ease;
}




/*Footer styling*/


footer {
    background-color: #041d4a;
    padding-bottom: 0;
}


footer .first-col {
    padding: 0 150px 0 150px;
    background-color: #041d4a;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  
}

.footer-col {
    padding-bottom: 0px;
}

footer h4 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;

}

footer h5 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}

.footer-anchor {
    text-decoration: none;
    color: #7b838a;
    
}

.footer-anchor:hover{
    color: rgb(241, 240, 245);
 }

 footer li:hover {
    color: rgb(241, 240, 245);;
 }

footer li {
    list-style: none;
    color: #7b838a;
    padding: 2px 0;
    font-size: 15px;
    cursor: pointer;

}

.second-col {
    padding: 10px 250px 0 200px;
    background-color: #041d4a;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#newletters-email-p {
     color: #7b838a;
    
}

.newletters-input {
    width: 220px;   
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
}

.newletters-subscribe {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(60, 60, 154);
    font-weight: 500;
    border-radius: 5px;
}

.newletters-subscribe:hover {
    background-color: #e6c262;
    transition: 0.4s ease;
}

.contacts-div {
    display: flex;
}

.contact-icon {
    height: 30px;
    width: 30px;
}

.fill-icon {
    height: 30px;
    width: 30px;
}
/**Home Page Styling Ends Here**/



/**Catalog Page Styling Begins Here**/


#catalog-courses-program {
    padding: 70px 20px;
}


#catalog-courses-program {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("Images/Students-Catalog.jpg");
    max-width: 100%;
    height: 100vh;
    border-radius: 10px;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.paragraph-under-h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    width: 50%;
    font-size: 1rem;
    line-height: 25Px;
}

#catalog-courses-program h4 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.IT-CS1 {
    text-align: center;
}


div .BSc-IT1 {
    background-color: #dddddd;
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    border: 1px solid rgba(21, 21, 100);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

div .BSc-CS1 {
    background-color: #dddddd;
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    border: 1px solid rgba(21, 21, 100);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

div .grid-IT-CS {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    margin-top: 70px;
    border-radius: 5px;
}

.IT-CS2 {
    text-align: center;
}

.BSc-IT2 {
    background-color: #f0ebeb;
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    border: 1px solid rgba(21, 21, 100);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.BSc-CS2 {
    background-color: #f0ebeb;
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    border: 1px solid rgba(21, 21, 100);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.allocation {
    text-align: center;
}



/**Events Page Styling Begins Here**/

#upcoming-events-boxes {
    padding: 50px 0;
}

#events-section {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(40, 40, 63, 0.7)), url("Images/UniOfGh.jpg");
    max-width: 100%;
    height: 100vh;
    border-radius: 10px;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events-ph2 {
    text-align: center;
    color: rgb(255, 255, 255);
    width: 50%;
    font-size: 1rem;
    line-height: 25Px;
}

.h2-style {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.guest-event {
    display: flex;
    margin: 10px;
    padding: 10px 10px;
}

.guest-lectures {
    text-align: justify;
}

.guest-img {
    align-items: center;
    height: 480px;
    width: 780px;
    padding: 10px;
}

#ongoing-events-boxes {
    background-color: #f0ebeb;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid;
    margin: 10px;
    padding: 10px 10px;
}

.ccna-class {
    background-color: azure;
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    border: 1px dashed rgba(21, 21, 100);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.web-class {
    background-color: azure;
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    border: 1px dashed rgba(21, 21, 100);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.ccna-img {
    border-radius: 15px;
    height: 140px;
    width: 140px;
}

.ccna-img:hover {
    cursor: pointer;
    height: 180px;
    width: 180px;
}

.web-img {
    border-radius: 15px;
    height: 140px;
    width: 140px;
}

.web-img:hover {
    cursor: pointer;
    height: 180px;
    width: 180px;
}

.a-class {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #8f8f8f;
    font-weight: 500;
    border-radius: 5px;
}

.events-heading {
    text-align: center;
}

.upcoming-events-boxes {
    display: grid;
    padding: 8vw 8vw 0 8vw;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
    border-radius: 5px;
}


.first-event {
    text-align: center;
    padding: 5px 10px 10px 10px;
    border: 1px solid rgba(21, 21, 100);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cyber-img {
    border-radius: 15px;
    height: 140px;
    width: 140px;
}

.registration-link1 {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #e6c262;
    font-weight: 500;
    border-radius: 5px;
}

.registration-link2 {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #e6c262;
    font-weight: 500;
    border-radius: 5px;
}

.registration-link3 {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #e6c262;
    font-weight: 500;
    border-radius: 5px;
}


/**Events Page Styling Ending**/

/**Enrollment form**/

#form-section {
    text-align: center;
    padding: 100px 300px 20px 300px;
    border: 1px solid #ccc;
}

input {
    width: 30%;
    height: 100%;
    margin: 5px 0;
    padding: 15px 10px;
    border: 1px solid rgb(167, 148, 235);
    border-radius: 8px;
    outline: none;
}

.form-heading2 {
    text-align: center;
}

.enroll-form {
    background-color: azure;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}


input::placeholder {
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;

}

.submit-form-button {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 10px 30px;
    background-color: rgb(225, 189, 91);
    font-weight: 500;
    border-radius: 5px;
}

.submit-form {
    margin-top: 20px;
}

/* About Pages Styling */

#about-page {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(40, 40, 63, 0.7)), url("Images/about-banner.jpg");
    max-width: 100%;
    height: 60vh;
    border-radius: 10px;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-above-h1 {
    text-align: center;
}

.about-div1 {
    text-align: center;
}

.about-h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
}

.about-sec2 {
    display: flex;
    margin: 10px;
    padding: 10px 10px;
}


.about-div2 {
    text-align: justify;
}

.about-div3-img {
    align-items: center;
    height: 80px;
    width: 580px;
    padding: 10px;
}

























/**Responsiveness**/


@media (max-width: 810) {
    nav {
        padding: 15px 20px;
    }

}